<% if (config['featured-tags']) { %>
<section style="margin-bottom: 20px;">
    <h5>博主说：</h5>
    <div>
        <img style="float: right; max-width: 120px; max-height: 120px; margin-right: 5px; margin-top: -45px;" src="<%= config.baseurl %>/img/gwechat.png" />
        我常常希望在面对人生中一些关键抉择的时候，有人可以告诉我最佳的做法，让我不至于白白浪费宝贵的时间。推己及人，我因此经常写博客，以期在浩渺无垠的互联网中的这个小小角落里记录下对于我来说只有一次的人生经历，希望能够帮到那些希望得到帮助的人。
    </div>
    <hr>
    <h5><a href="<%= '/archive/' %>">热门标签</a></h5>
    <div class="tags">
        <% 
            let tags = site.tags.map(function(tag) {  
                if (tag.length > config['featured-condition-size']) {
                    return {
                        sort: String(site.posts.length - tag.length).padStart(4, '0000'),
                        href: config.baseurl + '/archive/?tag=' + encodeURIComponent(tag.name), // 继承 Liquid 的 sort 方法
                        encode: encodeURIComponent(strip_html(tag.name)),
                        name: tag.name,
                        length: tag.length
                    };
                }
                return false;
            }).filter(Boolean).sort((a, b) => {
                if (a.sort === b.sort) {
                    return a.href.localeCompare(b.href);
                }
                return a.sort - b.sort;
            });
        %>

        <% tags.forEach(function(tag) { %>
            <a data-sort="<%= String(site.posts.length - tag.length).padStart(4, '0000') %>" 
                href="<%= config.baseurl %>/archive/?tag=<%= encodeURIComponent(tag.name) %>"
                title="<%= tag.name %>"
                rel="<%= tag.length %>"><%= tag.name %></a>
        <% }) %>
    </div>
    <hr>
    <h5>专栏</h5>
    <div class="tags">
        <a href="<%= "/projects" %>">开源项目</a>
        <a href="<%= "/book-list" %>">技术书单</a>
        <a href="<%= "/subscribe" %>">订阅&付费软件</a>
        <a href="<%= "/my-food" %>">美食推荐</a>
    </div>
</section>
<% } %>